// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap";

* {box-sizing: border-box;}

$Default-font-color: #575350;
$background-color:#f3fcf0;
$border-color: #d2d2da;
$default-font: 'Hind Siliguri', sans-serif ;
$special-font: 'Permanent Marker', cursive;
$headline-font: 'Montserrat', sans-serif;

h1{color:black;
    font-family: $headline-font;
    font-weight: bolder;
    font-size: 3rem;}

h2 {color:black;
    font-family: $headline-font;
    font-size: 1.5rem;
    font-weight: bolder;}

h3 {font-size: 1.5rem;
    color:$Default-font-color;
    font-family: $headline-font;}

h4, h5 {color:$Default-font-color;
    font-family: $default-font;
    font-weight: bold;}

h6 { color:#d2d2da;
    font-size: 50px;}

p {color:$Default-font-color;}

.navbar-brand {font-family: $special-font;
                font-size: 2rem;}

body {background-color: $background-color;}



#profile { box-shadow: 0 0 25px 0 grey;
            border:15px white solid;
            width: 350px;
            margin-left: 50px;}

.icon {
    float:left;
        position:relative;
        height: 50px;
        width: 50px;
        padding-right: 10px;
    }


